{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">

   <h1 class="page-title">Список продуктов</h1>

<ul class="products-list">
    {% for i in products %}
    <li class="product-card">
        <h3 class="product-title">{{ i.name_products }}</h3>

        <img class="product-image"
             src="{{ i.image.url }}"
             alt="{{ i.name_products }}">

        <data class="product-date">{{ i.created_at }}</data>

        <p class="product-stats">
            👁 {{ i.views_count }} | ❤️ {{ i.likes_count }}
        </p>

        <a class="product-button" href="/products_list/{{ i.id }}/">
            Читать далее
        </a>
    </li>
    {% endfor %}
</ul>


{% include '../footer.html' %}