<header class="header">
    <div class="header__logo">
        <a href="/products_list/">🚗 MyApp</a>
    </div>

    <nav class="header__nav">
        <a href="{% url 'home_page' %}">Главная</a>
        <a href="{% url 'about_myself' %}">О нас</a>
        <a href="#">Контакты</a>
        <a href="{% url 'home_page' %}">Продукты</a>
        <a href="{% url 'basket_list' %}">BASKET</a>
        <a href="{% url 'register' %}">Регистрация</a>
        <a href="{% url 'login' %}">Автороизация</a>
        <a href="{% url 'candidate_list' %}">Анкеты</a>
        <a href="#">Hashtags</a>
        <a href="/admin/">Админ-панель</a>
    </nav>
</header>
