{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить в корзину</title>
</head>
<body>
    <h1>Добавить товар: {{ product.name_products }}</h1>


    <form method="post">
        {% csrf_token %}
        
        <label>ФИО:</label><br>
        <input type="text" name="full_name" required><br><br>

        <label>Телефон:</label><br>
        <input type="text" name="phone" required><br><br>

        <label>Адрес:</label><br>
        <input type="text" name="address" required><br><br>

        <label>Количество:</label><br>
        <input type="number" name="quantity" min="1" required><br><br>

        <button type="submit">Добавить в корзину</button>
    </form>

    <br>
    <a href="{% url 'basket_list' %}">Перейти в корзину</a>
</body>
</html>



{% include '../footer.html' %}